<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blog Page</title>
    <script>
        function speak(text) {
    // Limit text length to improve efficiency
    const maxLength = 1000; // Adjust as needed
    text = text.substring(0, maxLength);

    // Remove HTML tags
    text = text.replace(/(<([^>]+)>)/gi, '');

    // Create a new instance of SpeechSynthesisUtterance
    var utterance = new SpeechSynthesisUtterance(text);

    // Speak the text
    window.speechSynthesis.speak(utterance);
}

    </script>
</head>
<body>
    <%- include('./partials/nav'); %>

    <div class="container mt-4">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.coverImageURL %>" alt="" width="300px" height="500px">
        <pre class="mt-3" style="white-space: pre-wrap;"><%= blog.body %></pre>
        <!-- Add a button to speak the blog content -->
        <!-- <button onclick="speak('<%= blog.title %> <%= blog.body %>')" class="btn btn-primary">Speak Blog Content</button> -->
    </div>

    <div class="container mt-4">
        <img src="<%= blog.createdBy.profileImageURL %>" alt="helloo" width="50px">
        <%= blog.createdBy.fullName %>
    </div>

    <div class="container mt-3">
        <h1>Comments (<%= comments.length %>)</h1>

        <!-- Display comments -->
        <% comments.forEach(comment => { %>
            <div>
                <img src="<%= comment.createdBy.profileImageURL %>" alt="helloo" width="50px">
                <%= comment.createdBy.fullName %>:
                <pre><%= comment.content %></pre>
                <!-- Add a button to speak each comment -->
                <!-- <button onclick="speak('<%= comment.createdBy.fullName %> says <%= comment.content %>')" class="btn btn-secondary">Speak Comment</button> -->
            </div>
        <% }) %>

        <!-- Comment form (visible only to logged-in users) -->
        <% if (user) { %>
            <form method="post" action="/blog/comment/<%= blog._id %>">
                <div class="mb-3">
                    <input type="text" class="form-control" name="content" placeholder="Enter your comment">
                    <button type="submit" class="btn btn-sm btn-info">Add</button>
                </div>
            </form>
        <% } %>
    </div>

    <%- include('./partials/script'); %>
</body>
</html>
